</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="index.js"></script>
</body>
<footer>
        <div class="footer-wrapper">
                <p id='footerText'>Thanks for reading!</p>
        </div>
</footer>

</html>