</div>
<script type="text/javascript" src="index.js"></script>
</body>
<footer>
        <div class="footer-wrapper">
                <p id='footerText'>Thanks for reading!</p>
        </div>
</footer>

</html>