</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="app.js"></script>
<script src="https://kit.fontawesome.com/ffed62ded0.js"></script>
<script src="../../src/Components/mobileMenu.js" type="text/javascript"></script>
<script src="/js/mobileMenu.js" type="text/javascript"></script>

</body>
<footer>
        <div class="footer-wrapper">
                <p id='footerText'>Thanks for reading!</p>
        </div>
</footer>

</html>