<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Journaler</title>
    <link rel="stylesheet" href="/css/styles.css">

    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="shortcut icon" type="image/jpg" href="/favicon.ico">

    <link href="https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Poppins:wght@400;500&display=swap"
        rel="stylesheet">


</head>

<body>
    <div class="wrapper">
        <nav>
            <div class="navContainer">
                <div class="logoHeader">
                    <a class="link hideOnSmallMedia" id="logo" href="/">
                        <h2>Journaler</h2>
                    </a>
                    <a class="link hideOnLargeMedia" id="logo" href="/">
                        <h2>J</h2>
                    </a>
                </div>


                <ul class="navMenu">


                    <!-- If the User has not logged in yet, this will appear -->
                    <% if(!locals.currentUser){ %>

                    <li class="navigation hideOnSmallMedia navHeaders hideHome"><a class="link opac" href="/"><i
                                class="fas fa-home"></i> Home</a></li>

                    <li class="navigation hideOnSmallMedia navHeaders"><a class="link opac login"
                            href="/api/auth">Login</a>
                    </li>
                    <li class="navigation hideOnSmallMedia navHeaders"><a class="link opac"
                            href="/api/register">Register</a>
                    </li>

                    <li class="navigation hideOnLargeMedia navHeaders mobileSpacing"><a
                            class="link opac login hideOnLargeMedia" href="/api/auth">Login</a>
                    </li>
                    <li class="navigation hideOnLargeMedia navHeaders mobileSpacing"><a
                            class="link opac hideOnLargeMedia" href="/api/register">Register</a>
                    </li>
                    <% }                %>
                    <!-- If the user is logged in, this will be the items on the nav -->
                    <% if(locals.currentUser){ %>
                    <li class="navigation hideOnSmallMedia bolden link navHeaders greeting">

                        Hi,
                        <%= locals.currentUser.firstName %>

                    </li>
                    <li class="navigation hideOnSmallMedia navHeaders"><a class="link opac" href="/"><i
                                class="fas fa-home"></i> Home</a></li>
                    <li class="navigation hideOnSmallMedia navHeaders"><a class="link opac" href="/api/userPost"
                            id='post'> <i class="fas fa-pen-fancy"></i> Post</a></li>
                    <!-- This will be shown on large media -->
                    <li class="navigation hideOnLargeMedia link bolden greeting">
                        Hi,
                        <%= locals.currentUser.firstName %>
                    </li>
                    <li class="navigation hideOnLargeMedia"><a class="link opac" href="/api/userPost" id='post'> <i
                                class="fas fa-pen-fancy"></i> Post</a></li>

                    <%         }               %>
                    <!-- This below is for the mobile portion of the header -->
                    <!-- <div class="hideOnLargeMedia remBtn hamburgerMenu" data-test="<%"=test "%>">
                            <li class="hideOnLargeMedia ">
                                    <i class="fas fa-bars fa-2x"></i></li>
                        </div> -->

                </ul>

            </div>
            <script src="ejs.js"></script>
            <script>
                const hamburgerMenus = document.getElementById("hamburgerMenu").dataset.test;
                console.log(hamburgerMenus)
                const mobileNav = document.getElementById("mobileNav");

                hamburgerMenus.addEventListener("click", toggleHamMenu);

                const toggleHamMenu = () => {
                    console.log('yolo')

                }
            </script>
        </nav>