<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Journaler</title>
    <link rel="stylesheet" href="/css/styles.css">
    <script src="app.js"></script>
</head>

<body>
    <nav>
        <div class="navContainer">
            <div class="nameOfWebsite">
                <a href="/"><h2>Journaler</h2></a>
            </div>
            <div class="navLinks">
                <ul class="navMenu">
                    <li class="navigation"><a href="/">Home</a></li>
                    <li class="navigation"><a href="/posts" id='post'>Post</a></li>
                    <li class="navigation"><a href="">Drafts</a></li>
                    <li class="navigation"><a href="">Settings</a></li>
                </ul>
            </div>
        </div>
    </nav>