<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Journaler</title>
    <link rel="stylesheet" href="/css/styles.css">
    <script src="app.js"></script>
    <script src="https://kit.fontawesome.com/ffed62ded0.js"></script>
</head>

<body>
    <div class="wrapper">
    <nav>
        <div class="navContainer">
            <div class="nameOfWebsite">
                <a href="/"><h2>Journaler</h2></a>
            </div>
            <div class="navLinks">
                <ul class="navMenu">
                    <li class="navigation"><a href="/"><i class="fas fa-home"></i> Home</a></li>
                    <li class="navigation"><a href="/posts" id='post'> <i class="fas fa-pen-fancy"></i> Post</a></li>
                    <li class="navigation"><a href="/login">Login</a></li>
                    <li class="navigation"><a href="/register">Register</a></li>
                </ul>
            </div>
        </div>
    </nav>