<%-  include('partials/header') %>

<div class="container mt5">
    <div class="credBox">
        <form action="/api/auth" method="POST">
            <div class="flexCredentials">
                <h1 class="credentialHeading">Login</h1>
                <label for="email" class="credentialLabel">USERNAME</label>
                <input type="email" name="username" autofocus class="forms inputWidth inputSpacing" placeholder="Name@domain.com">
                <label for="Password" class="credentialLabel">PASSWORD</label>
                <input type="password" name="password" class=" forms inputWidth inputSpacing" placeholder="Password">
                <button type="submit" class="genBtn inputWidth inputSpacing">Login</button>
                <a href="/api/register" class="clickToChange">First time here? Click here to register and create an
                    account!</a>
            </div>
        </form>
    </div>
</div>



<%- include('partials/footer') %>