<%-  include('partials/header') %>

<div class="Container">
    <div class="textinput">
        <div class="textinput">
            <h3>Title</h3>
            <input type="text" name="postTitle" id="" class="textarea">
        </div>
        <br>
        <div class="textarea">
            
            <input type="text" name="textContent" id="textContent" class="textarea">
        </div>
    </div>
</div>

<%- include('partials/footer') %>