<%-  include('partials/header') %>


<!-- Here, we treat the posts as an array and we slice it, which we return just a shallow copy. then we reverse it and apply is to every single post. -->
<!-- forEach only goes forward. So we use precursors such as making a copy of the array and reversing it.  -->



          <h1><%=title%> </h1>
          <p><%=content%></p>

   


<%- include('partials/footer') %>