<%-  include('partials/header') %>

<div class="container mt5">
    <div class="credBox">
        <form action="/api/register" method="POST">
            <div class="flexCredentials">
                <h1 class="credentialHeading">Register</h1>

                <label for="email" class="credentialLabel">First Name</label>
                <input type="text" name="firstName" autofocus class="forms inputWidth inputSpacing" placeholder="First Name">

                <label for="email" class="credentialLabel">Last Name</label>
                <input type="text" name="lastName" class="forms inputWidth inputSpacing" placeholder="Last Name">


                <label for="email" class="credentialLabel">Username</label>
                <input type="text" name="username" class="forms inputWidth inputSpacing" placeholder="Username">


                <label for="Password" class="credentialLabel">Password</label>
                <input type="password" name="password" class="forms inputWidth inputSpacing" placeholder="Password">

                <button type="submit" class="genBtn inputWidth inputSpacing">Register</button>

                <!-- Put flex here so same line.  -->
                <a href="/api/auth" id="login">Already registered? Click here.</a>
            </div>

        </form>

    </div>
</div>



<%- include('partials/footer') %>