* {
    margin: 0 auto;
    padding: 0;
    max-width: 100%;
    /* Max width makes the page fit onto the full viewing screen and overflow-x makes sure to clip any excess that goes beyond the confines of the 100% screen page. */
}

html {
    height: 100%;
}

.container {
    margin: 0 auto;
}

body {
    background: #F5F5F5;
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;
}

.wrapper {
    min-height: 100%;
    /* This sets the footer to the bottom of the page for every page. */

}

button {
    background: green;
    box-shadow: 0px 4px 5px #333;
    color: 0.3s ease;
    margin: 10px 0px;
    border: solid 0px;
    border-radius: 5px;
    outline: none;
    color: white;
    padding: 10px 14px;
}

button:hover {
    color: white;
    background: #23D93A;
    cursor: pointer;
    transition: 0.5;
}


/* Navigation bar */
nav {
    background: #333;
    padding: 35px 0px 35px 35px;
    color: white;
    margin-bottom: 1.5%;
}

.link {
    text-align: center;
    padding: 5px;
    transition: color 0.3s ease;
}

.link:hover {
    color: green;
}

.navLinks {
    margin-left: auto;
    /* Consumes all space to the left, setting the Navlinks on the right */
}

.navContainer {
    display: flex;
}

.navMenu {
    padding: 10px;
    /* this removes the vertical scrollbar that is made from the overflow-x */
}

ul {
    list-style-type: none;
    /* This removes the bullets for the navigation */
}

li {
    display: inline;
    padding: 5px 20px;
    /* This increases the distance between the links on the navbar */
}

a {
    text-decoration: none;
    color: white;
}

/* Home page */
.blogContainer,
.container {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    box-sizing: border-box;
}

.blogPost {
    display: inline-block;
    width: 30%;
    /* This is necessary to determine the size of the boxs for the blog messages to appear. */
    padding: 10px 2em 1em 2em;
    border: 1px solid silver;
    border-radius: 15px;
    box-shadow: 3px 5px 10px black;
    margin: 1.5%;
    /* The margin is added because without this, the overflow will clip the shadows.*/
}

/* To center the blog posts in the center of the page, I had to set the html, body, and parent container of the blog post to 100% height. */
/* In addition, in the parent container, the display needed to be set to flex, align-items and justify content needed to be center as well.*/


#closure {
    padding: 35px 0px 5px 0px;
    font-size: 10px;
}

#createdAt {
    display: inline;
}

/* Post function */

#postFunction {
    width: 34%;
    background: white;
    border-radius: 20px;
    padding: 10px;
    z-index: 3;
    top: 30%;
}

#postTitle {
    margin: 0;
}

.textarea {
    display: block;
    padding: 5px;
    border: 0px solid;
    background: transparent;
    color: black;
}

textarea {
    white-space: pre-wrap;
    overflow: auto;
    /* Overflow: auto removes the automatic scrollbars left there in internet explorer. */
}

#titleArea {
    font-size: 45px;
    outline: none;
}

#textContent {
    width: 535px;
    height: 250px;
    font-size: 18px;
    outline: none;
}

#postBtn {
    padding: 10px 60px;
}


button:active {
    background: green;
    box-shadow: 0px 0px 0px transparent;
}

.template {
    background: white;
}


/* Login Page & Register page*/
.mt5 {
    width: 20%;
    background: white;
    border-radius: .75rem;
    padding: 2rem 0rem 2rem 0rem;
    box-shadow: 3px 5px 10px black;
    margin-bottom: 15px;
}

.credBox {
    box-sizing: box-border;
    /* This keeps the box inside of the parent container completely. */
    width: 90%;

}

#loginText {
    display: block;
}

#passwordText {
    display: block;
}

.loginTitle {
    margin-bottom: .5rem;
}

.forms {
    border-radius: 7px;
    margin: 10px 25px 20px 0px;
    width: 90%;
    border: 1px solid silver;
    padding: 10px;

}

#login {
    justify-content: space-evenly;
    color: green;
    text-decoration: underline;
}

#login:hover {
    color: black;
}

#loginBtn {
    justify-items: flex-end;
}

/* Footer */
footer {
    width: 100%;
    background: #333333;
    color: white;
    text-align: center;
    margin-top: 1.5%;
    bottom: 0;
    height: 8rem;
}

/* Media queries */
@media (max-width:420px) {
    .grid nav {
        width: 100%;
    }

    .navContainer {
        width: 100%;
    }

    li {
        padding: 5px;
    }

    nav {
        padding: 10px;
    }

    .blogPost {
        width: 80%;
    }

    #postFunction {
        width: 80%;

        /* This determines the size of the post when the viewport is smaller */
    }

    .mt5 {
        width: 60%;
    }
}

@media (max-width:800px) {
    .grid nav {
        width: 100%;
    }

    .navContainer {
        width: 100%;
    }

    nav {
        padding: 10px;
    }

    li {
        padding: 5px;
    }

    .blogPost {
        width: 80%;
    }

    #postFunction {
        width: 60%;
    }

    .mt5 {
        width: 60%;
    }

}

@media (max-width:1600px) {
    .grid nav {
        width: 100%;
    }

    nav {
        padding: 10px;
    }

    .navContainer {
        width: 100%;
    }

    li {
        padding: 5px;
    }

    .blogPost {
        width: 50%;
    }

    #postFunction {
        width: 60%;
    }

    .mt5 {
        width: 60%;
    }
}

/* If the page keeps having issues with horizontal scroll, go into developer mode on chrome and delete divs to find what exactly is giving issues.  */
/* Overflow-x is actually not very reliable as I have learned. */