body {
    margin: 0;
    background: #F5F5F5;
    font-family: Arial, Helvetica, sans-serif;
}

.btn {
    padding: 10px 14px;
    background-color: #333333;
    border: 3px solid #F5F5F5;
    border-radius: 10px;
    color: white;
}

/* Navigation bar */
nav {
    background: #333;
    padding: 35px;
    color: white;
}

.navLinks {
    justify-content: space-evenly;
    margin-left: auto;

}

.navContainer {
    display: flex;
    flex-direction: row;
}

ul {
    list-style-type: none;
}

li {
    display: inline;
    margin: 10px;
    padding: 5px 10px;
}

a {
    text-decoration: none;
    color: white;
}

/* Home page */
.contentContainer {
    margin: 25px 35rem;
    display: flex;
}


.blogPost {
    padding: 10px 4em 3em 4em;
    margin: .5em 6em .5em 6em;
    border: 2px solid silver;
    border-radius: 20px;
    box-shadow: 3px 5px 10px black;
}

/* Post page */
.Container {
    margin: 25%;
    background: #A9A9A9;
    border-radius: 20px;
    padding: 50px;
}

#postTitle{
    margin: 0;
}

.textarea {
    display: block;
    padding: 5px;
    border: 0px solid;
    background: transparent;
    color: aliceblue;
}

#titleArea{
    font-size: 45px;
}

#textContent {
    width: 600px;
    height: 200px;
    
}

/* Login Page & Register page*/
.mt5 {
    margin: 3rem 390px 3rem 390px;
    background: white;
    border-radius: .75rem;
    padding: 2rem;
    box-shadow: 3px 5px 10px black;
}

.credbox {
    box-sizing: box-border;
}

#loginText {
    display: block;
}

#passwordText {
    display: block;
}

.loginTitle {
    margin-bottom: .5rem;
}

.forms {
    border-radius: 7px;
    margin: 10px 0px 20px 0px;
    width: 90%;
    border: 1px solid silver;
    padding: 10px;
}

/* Footer */
footer {
    margin: 120px;
    background: black;
    color: white;
    text-align: center;
}