* {
    margin: 0 auto;
    padding: 0;
    max-width: 100%;
    overflow-x: hidden;
    /* Max width makes the page fit onto the full viewing screen and overflow-x makes sure to clip any excess that goes beyond the confines of the 100% screen page. */
}
 h1{
     padding: 10px 0px 30px 0px;
 }
.container {
    margin: 0 auto;
}

body {
    background: #F5F5F5;
    font-family: Arial, Helvetica, sans-serif;
}

.btn {
    padding: 10px 14px;
    background-color: #333333;
    border: 3px solid #F5F5F5;
    border-radius: 10px;
    color: white;
}

/* Navigation bar */
nav {
    width: 100%;
    background: #333;
    padding: 35px;
    color: white;
}

.navLinks {
    justify-content: space-evenly;
    margin-left: auto;

}

.navContainer {
    display: flex;
    flex-direction: row;
}

.navMenu{
    display: inline;
}

ul {
    list-style-type: none;
}

li {
    display: inline;
    margin: 10px;
    padding: 5px 10px;
}

a {
    text-decoration: none;
    color: white;
}

/* Home page */
.contentContainer {
    margin: 75px 35rem;
}

.blogPost {
    width: 70%; 
    /* This is necessary to determine the size of the boxs for the blog messages to appear. */
    padding: 10px 4em 3em 4em;
    border: 1px solid silver;
    border-radius: 15px;
    box-shadow: 3px 5px 10px black;
    margin: 10px; 
    /* The margin is added because without this, the overflow will clip the shadows.*/
}

/* Post function */

#postFunction {
    margin: 35px 34.5%;
    background: white;
    border-radius: 20px;
    padding: 10px;
    z-index: 3;
    top: 30%;
}

#postTitle {
    margin: 0;
}

.textarea {
    display: block;
    padding: 5px;
    border: 0px solid;
    background: transparent;
    color: black;
}

#titleArea {
    font-size: 45px;
    outline: none;
}

#textContent {
    width: 535px;
    height: 250px;
    font-size: 18px;
    outline: none;
}

#postBtn {
    background: white;
    border: solid 0px;
    padding: 10px 20px;
    border-radius: 5px;
    outline: none;

}

#postBtn:hover {
    color: white;
    background: #333;
    cursor: pointer;
    transition: 0.5;
}

.template {
    background: white;
}

#closure{
    padding: 50px 0px 5px 0px;
    font-size: 10px;
}

/* Login Page & Register page*/
.mt5 {
    margin: 3rem 390px 3rem 390px;
    background: white;
    border-radius: .75rem;
    padding: 2rem;
    box-shadow: 3px 5px 10px black;
}

.credbox {
    box-sizing: box-border;
}

#loginText {
    display: block;
}

#passwordText {
    display: block;
}

.loginTitle {
    margin-bottom: .5rem;
}

.forms {
    border-radius: 7px;
    margin: 10px 0px 20px 0px;
    width: 90%;
    border: 1px solid silver;
    padding: 10px;
}

#login{
left: 0;
color: black;
}

/* Footer */
footer {
    width: 100%;
    background: #333333;
    color: white;
     text-align: center;
     
    padding: 40px;
    bottom: 0;
    left: 0;
}

/* Media queries */
@media (max-width:420px){
    nav{
        width:100%;
    }
    .blogPost {
        width: 75%;
    }
}